*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

# IntelliJ
./idea/workspace.xml
.idea/modules.xml
.idea/libraries
.idea/caches
.idea/gradle.xml

# Google Services (e.g. APIs or Firebase)
google-services.json

# Java class files
*.class
'.idea' 
